{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="about.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Sslblog.com</title>
  </head>
  <body>
    <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
 <div class="container">
     <a class="navbar-brand" href="#"><h1 style="font-family: fantasy; text-shadow: 0px 3px aqua;">SSL <span class="blog">BLOG</span></h1></a>
     <style >
     .blog{
        font-family: fantasy;
        color: aqua;
        text-shadow: 0px 3px black;
        opacity: 0.5;
     }
     </style>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style=" font-family:cursive"> <span class="b">BERANDA</span><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about" style="font-family:cursive; text-shadow: 0px 1px 15px black;" >MY PROFIL
        </a>
      </li>
    </ul>
  </div>
 </div>
</nav>
<style type="text/css">
    .b{
        text-shadow: 0px 1px 15px black;
    }
</style>
        <!-- end navbar -->
<div class="container">
 <div class="text">
  <h1>Berbagai Cara Screenshot di Laptop Dell, Sudah Coba?</h1> 

    <p>Buat sebagian orang, aktivitas screenshot sudah jadi kegiatan sehari saat bekerja. Mulai dari mengabadikan pertemuan daring hingga mengambil gambar untuk mencari inspirasi desain. Salah satu  perusahaan laptop ternama asal Amerika, Dell, menyediakan beberapa cara screenshot di laptopnya untuk kepuasan para penggunanya. </p>
    <p>Untuk kamu yang belum mengetahui cara screenshot di laptop Dell, jangan khawatir karena beberapa metode akan dijelaskan dibawah ini.</p>

    <img src="{%static 'img/dell2.jpg'%}">

    <h3> <b>Screenshot dengan kombinasi tombol</b></h3>
    <p>Kamu juga dapat melakukan screenshot dari jendela atau halaman yang sedang aktif, berikut cara melakukannya.</p>

    <ul>
      <li>Tekan tombol Alt dan Print Screen atau tombol PrtScn pada keyboard secara bersamaan. Hal ini untuk menangkap jendela atau halaman dan menyimpannya ke clipboard komputer</li>
      <li>Klik tombol Start di pojok kiri bawah layar dan ketik "paint"</li>
      <li>Buka program Paint dan tempel tangkapan layar ke dalam program dengan cara menekan tombol Ctrl dan V pada keyboard secara bersamaan</li>
      <li>Jika gambar dianggap terlalu lebar, gunakan fitur Pangkas atau Crop untuk memotong gambar. Pada proses ini kamu juga dapat menambahkan teks, simbol, dan warna.</li>
      <li>Simpan gambar dengan cara menekan CTRL+V atau klik ikon disket di pojok kiri atas.</li>
    </ul>

    <p><b>Screenshot dan simpan otomatis</b></p>

    <p>Jika kamu menggunakan Windows 8 atau Windows 10, ada beberapa cara yang lebih sederhana tanpa menggunakan Snagit.</p>

    <ul>
      <li>Tekan logo Windows atau tombol Win dan tombol PrtScn pada keyboard secara bersamaan. Pada proses ini layar kamu akan meredup beberapa detik.</li>
      <li>Buka fitur Explorer dan tekan tombol logo Windows dan E pada keyboard secara bersamaan.</li>
      <li>Buka file C: \Users\ username\Pictures\Screenshots dan kamu akan temukan hasil screenshot-nya. </li>
    </ul>

    <p><b>Screenshot menggunakan Sniping tool</b></p>
    <img style="" src="{%static 'img/ss.jpg'%}">
    <p>Fitur screenshot ini adalah fitur yang disediakan oleh windows yang dapat ditemukan di semua versi OS Windows. Kamu dapat menggunakan fitur ini dengan cara:</p>

    <ul>
      <li>Tekan tombol Windows pada keyboard</li>
      <li>Ketik Snipping Tool pada kotak pencarian</li>
      <li>Pilih fitur screenshot yang diinginkan seperti, rectangular, window, atau full screen snip dengan cara menekan tombol panah di sebelah tulisan New</li>
      <li>layar akan membeku dan kamu dapat memilih area mana saja yang ingin di-screenshot.</li>
      <li>Edit gambar sesuai keinginan kamu. jika sudah selesai tekan Ctrl + S atau tekan ikon disket di pojok kiri atas.</li>
    </ul>

    <p><b>Screenshot menggunakan Snagit</b></p>
    <p>Snagit adalah program yang menyediakan fitur screenshot dengan pengeditan gambar dan perekaman layar. Selain itu kamu juga dapat mengedit hasil screenshot dengan mudah menggunakan fitur pengeditan gambar yang canggih, bahkan kamu juga dapat merekam video. Berikut cara screenshot menggunakan Snagit.</p>

    <ul>
      <li>Masuk ke halaman yang ingin ada screenshot</li>
      <li>Buka program Snagit, lalu tekan tombol Capture.</li>
      <li>Arahkan kursor ke wilayah atau kolom gambar untuk memilih area secara otomatis, atau kamu dapat memilih area kustom dengan cara klik dan menyeret kursor sesuai gambar yang diinginkan.</li>
      <li>Setelah kamu menentukan gambar atau area mana yang akan di screenshot, klik ikon kamera untuk menyimpan hasil screenshot sebagai gambar.</li>
      <li>Edit gambar di program Snagit sesuai dengan selera. Dalam proses pengeditan ini kamu dapat menambahkan bentuk, teks, efek, atau membuat penyesuaian pada gambar.</li>
      <li>Simpan hasil screenshot dengan menekan Ctrl + S atau klik tombol Share di pojok kanan atas untuk membagikannya.</li>
    </ul>

    <p>Itulah beberapa cara mudah untuk screenshot di laptop  Dell, selamat mencoba!</p>
  <style type="text/css">
    img{
      width: 1000px;
      height: 500px;
    }
    .container .text{
      font-size: 23px;
    }
  </style>
 </div>
</div>      
</body>
</html>